.nav {
  margin: 0%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  align-content: center;
}

.nav ul {
  list-style-type: none;
  display: flex;
}
.nav p {
  font-family: serif;
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}
.nav li {
  display: block;
  padding: 1%;
  margin-right: 1rem;
  font-size: 1.1rem;
}
.nav li:hover {
  cursor: pointer;
}
.nav {
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.nav ul li a {
  color: black;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}
