.inner {
  display: flex;
  justify-content: space-between;
}

.content {
  max-width: 480px;
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: 992px) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: 576px) {
    font-size: 28px;
  }
}

.image {
  width: 376px;
  height: 356px;

  @media (max-width: 992px) {
    display: none;
  }
}
