.inner {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  @media (max-width: 992px) {
    flex-direction: column-reverse;
  }
}

.content {
  max-width: 480px;
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: 992px) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;
  margin: 0%;
  @media (max-width: 576px) {
    font-size: 28px;
  }
}

.image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  /* @media (max-width: 992px) {
    width: 350px;
    height: 350px;
  } */
}
