.mains {
  width: 100%;
  padding-top: 1rem;
}

.content {
  display: flex;
  margin-top: 5rem;
  justify-content: space-around;
}
.image,
.body {
  width: 30%;
  font-size: 1.1rem;
}

.body {
  font-family: cursive;
  display: flex;
  align-items: center;
}

.image {
  display: grid;
  justify-content: center;
  align-content: center;
}
.image img {
  height: 17rem;
  align-self: center;
  width: 17rem;
  border-radius: 50%;
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

.image ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.image li {
  width: 1.5rem;
  margin-left: -0.4rem;
  height: 1.5rem;
  padding: 0.4rem;
  border-radius: 50%;
  transition: 1s;
}

.image li {
  display: grid;
  justify-content: center;
}
.image li a {
  margin-top: 0.2rem;
}

.image li:hover {
  border-radius: 20%;
  box-shadow: 2px 2px 5px black;
  transition: 0.5s;
}

.light .image li:hover {
  background-color: rgb(7, 0, 7);
}
.light .image li {
  background-color: rgb(255, 255, 255);
}
.light .image a {
  color: rgb(37, 150, 250);
}

.light .body {
  color: black;
}

.dark .body {
  color: white;
}
.dark .image li:hover {
  background-color: rgb(255, 255, 255);
}
.dark .image li {
  background-color: rgb(0, 0, 0);
}
.dark .image a {
  color: rgb(37, 150, 250);
}

@media (max-width: 400px) {
  .image,
  .body {
    width: 240px;
    font-size: 0.5rem;
  }
  .body {
    padding: 2px;
  }
  .content {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1.5rem;
    align-content: center;
  }
  .image img {
    width: 10rem;
    height: 10rem;
  }
  .image li {
    width: 1rem;
    margin-left: -0.9rem;
    height: 1rem;
    padding: 0.2rem;
  }
}
