.darkhead {
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  margin-top: 3rem;
  color: white;
}

.lighthead {
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  margin-top: 3rem;
  color: black;
}
.dark {
  background-color: rgb(3, 77, 95);
  color: white;
}

.light .title {
  color: rgb(7, 92, 45);
  border-bottom: 1px solid rgb(141, 2, 2);
}

.dark .title {
  color: rgb(113, 172, 211);
  border-bottom: 1px solid rgb(134, 20, 20);
}

.light {
  background-color: rgb(235, 235, 235);
  box-shadow: 2px 2px 50px rgb(0, 0, 0);
  color: black;
}

.project {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item img {
  height: 7rem;
  width: 14rem;
  border-radius: 0.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  height: 16.5rem;
  width: 14rem;
  padding: 0.5rem;
}

.desc {
  margin: 0%;
  overflow: hidden;
}

.title {
  font-size: 1.3rem;
  margin: 0%;
}

@media (max-width: 450px) {
  .darkhead,
  .lighthead {
    font-size: 1.2rem;
    margin: 1rem;
  }
  .item {
    height: 15rem;
    width: 13rem;
  }
  .item img {
    width: 13rem;
    height: 6rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .desc {
    font-size: 0.9rem;
  }
  .dark {
    box-shadow: none;
  }

  .light {
    box-shadow: none;
  }
}
